{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block meta %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
<meta name="referrer" content="origin">
{% endblock %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
<section>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-6">

        {% if validlink %}
          <p>{% trans "Enter your new password below to reset your password:" %}</p>
          <form method="post" action="">
              {% csrf_token %}
              {% include 'includes/form.html' with form=form %}
              <input type="submit" class="btn btn-product mb-3" value="{% trans 'Set password' %}" />
          </form>
        {% else %}
          Password reset unsuccessful. Please <a href="{% url 'auth_password_reset' %}">try again.</a>
        {% endif %}

      </div>
    </div>
  </div>
</section>
{% endblock %}


{# This is used by django.contrib.auth #}
