{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<section>
  <div class="container">
    <div class="row justify-content-md-center text-center">
      <div class="col-md-10 vh">

        <h2>
            {% blocktrans %}
            Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
            {% endblocktrans %}
        </h2>
        <form method="post" action="">
            {% csrf_token %}
            {% include 'includes/form.html' with form=form %}
            <input type="submit" class="btn btn-product mb-3" value="{% trans 'Reset password' %}" />
        </form>

      </div>
    </div>
  </div>
</section>
{% endblock %}


{# This is used by django.contrib.auth #}
