{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}

{% block content %}
<section>
  <div class="container">
    <div class="row justify-content-md-center text-center">
      <div class="col-md-10 vh">

        <h2>
            {% trans "Your password has been reset!" %}
            {% blocktrans %}You may now <a href="{{ login_url }}">log in</a>{% endblocktrans %}.

        </h2>

      </div>
    </div>
  </div>
</section>
{% endblock %}


{# This is used by django.contrib.auth #}
