{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<section>
  <div class="container">
    <div class="row justify-content-md-center text-center">
      <div class="col-md-10 vh">

        <h2>
            {% blocktrans %}
            We have sent you an email with a link to reset your password. Please check
            your email and click the link to continue.
            {% endblocktrans %}
        </h2>

      </div>
    </div>
  </div>
</section>
{% endblock %}


{# This is used by django.contrib.auth #}
