{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<section>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-6">

        <form method="post" action="">
            {% csrf_token %}
            {% include 'includes/form.html' with form=form %}
            <input type="submit" class="btn btn-product mb-3" value="{% trans 'Change password' %}" />
        </form>

      </div>
    </div>
  </div>
</section>
{% endblock %}


{# This is used by django.contrib.auth #}
