{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<section class="contact-app subscribe">
<div class="container form-box">
  <div class="row">
    <div class="col-md-12 text-center mb-5">
    <h1 class="display-4 mb-0">Newsletter Signup</h1>
    <p class="lead">Register below to receive our newsletter</p>
    <hr class="hr" />
  </div>
    <div class="col-md-7">
      <h2>Small Print</h2>
      <p>Subscribe to our newsletter and be the first to get the lastest and greatest news, views and special offers in your inbox, as they become available.</p>
      <p>We will only use your email address for sending over our newsletter, and will never sell or give away any of your details, period.  We value your privacy as we value our own, and will not waver in our efforts maintain your privacy.</p>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-4">

    <h2>{% block form_heading %}{% endblock %}</h2>
      {% block form %}
      {% endblock %}
    </div>
  </div>
</div>
</section>

{% endblock %}
